<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script>
        window.onload = function() {
            document.querySelector('.newsletter-form').addEventListener('submit', function(event) {
                var email = document.querySelector('.email-input').value;
                var regex = /^2\d{6,7}@kiit\.ac\.in$/; // Validate email strings starting with 2 followed by 6/7 numbers with KIIT addresses as domain
                if (!regex.test(email)) {
                    event.preventDefault();
                    alert("Incorrect email type");
                }
                else {

                    var submitButton = document.querySelector('.submit-button');
                    submitButton.innerHTML = 'Done  <i class="fa-regular fa-circle-check"></i>'; // Show check icon
                    submitButton.disabled = true; // Disable the button
                    console.log("Email sent to " + email);
                    alert("Thanks for subscribing!");
                    setTimeout(function() {
                        document.querySelector('.newsletter-form').submit(); // Manually submit the form
                    }, 1000);
                }
            });
        };
    </script>
</head>
<body>
    <section class="hero">
        <div class="overlay"></div>
        <div class="container">
            <h1 class="heading">MLSA KIIT</h1>
            <h2 class="subheading"><span class="gradient">Newsletter</span></h2>
            <p class="description">Want to see some good stuff from the internet?</p>
            <p class="description">Subscribe to our newsletter and get the best of the internet in your inbox every week!</p>
            <form method="POST" class="newsletter-form">
                <div class="input-container"> <!-- New container for input and button -->
                    <input type="email" class="email-input" name="email" placeholder="Email Address">
                    <button type="submit" class="submit-button" id="submit">Subscribe</button>
                </div>
            </form>
        </div>
    </section>

</body>
</html>
